body {
	height: 100vh;
}

.purple {
	background: linear-gradient(
		90deg,
		rgba(136, 56, 255, 1) 0%,
		rgba(233, 66, 255, 1) 100%
	);
}
.circle {
	width: 10px;
	height: 10px;
}

.input-arrow {
	background: hsl(271, 36%, 24%);
}
